environments:
  istio: &I
    values:
      - gateway-configs/istio.yaml
  istioBench: &IB
    values:
      - gateway-configs/istio.yaml
      - gateway-configs/benchmarking.yaml
  kgateway: &KG
    values:
      - gateway-configs/kgateway.yaml
  default:
    <<: *IB

---

{{- $ns := .Namespace | default "llm-d-llama31-multinode" -}}
{{- $rn := (env "RELEASE_NAME_POSTFIX") | default "llama31-multinode" -}}
{{- $dpSize := 16 -}}
{{- $rpcPort := "13345" -}}
{{- $decodeFqdn := printf "ms-%s-llm-d-modelservice-decode.%s.svc.cluster.local" $rn $ns -}}

repositories:
  - name: llm-d-modelservice
    url: https://llm-d-incubation.github.io/llm-d-modelservice/
  - name: llm-d-infra
    url: https://llm-d-incubation.github.io/llm-d-infra/

releases:
  - name: {{ printf "infra-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-infra/llm-d-infra
    version: v1.3.3
    installed: true
    labels:
      type: infrastructure
      kind: inference-stack
    values:
      - gateway:
          {{ .Environment.Values.gateway | toYaml | nindent 10 }}

  - name: {{ printf "ms-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-modelservice/llm-d-modelservice
    version: v0.2.11
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
    values:
      - base-values.yaml
      - master-values.yaml
{{- if or (eq .Environment.Name "istioBench") (eq .Environment.Name "default") }}
      - gateway-configs/benchmarking.yaml
{{- end }}
    set:
      - name: "routing.parentRefs[0].name"
        value: {{ printf "infra-%s-inference-gateway" $rn | quote }}
    labels:
      kind: inference-stack

{{- range $i, $_ := until 15 }}
{{- $rank := add $i 1 -}}
{{- $workerCtx := dict "rank" $rank "dpSize" $dpSize "decodeAddress" $decodeFqdn "rpcPort" $rpcPort -}}
{{- $workerValues := tpl (readFile "worker-values.yaml.gotmpl") $workerCtx | fromYaml -}}
  - name: {{ printf "ms-%s-worker-rank-%02d" $rn $rank | quote }}
    namespace: {{ $ns }}
    chart: llm-d-modelservice/llm-d-modelservice
    version: v0.2.11
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
      - {{ printf "ms-%s" $rn | quote }}
    values:
      - base-values.yaml
{{ toYaml (list $workerValues) | indent 6 }}
    labels:
      kind: inference-stack
{{- end }}
